html{
  font-family: 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', sans-serif;
}
header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #eee;
  padding: 1rem 2rem;
  font-size: 1.8rem;
}
header > div:not(:last-child){
  margin-right: 1rem;
}
.dateWrap{
  display: flex;
}
.dateWrap > div:not(:last-child){
  margin-right: .5rem;
}